/* styles specific to pages besides index.html */

main img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    margin: 1rem 0 0.5rem 0;
    display: block;
}

figcaption {
    text-align: right;
    margin: 0;
    padding: 0;
}

.page-title {
    margin-top: 1rem;
}

article h3 {
    margin: 2.5rem 0 1rem 0 !important;
    font-weight: bolder;
}

article h4,
h5 {
    margin: 1.5rem 0 1rem 0 !important;
}


/* ------------------------------------------------------------------ COUNTY GOVT */
main a {
    text-decoration: none;
    color: var(--bluelite) !important;
}

main a:hover {
    text-decoration: underline;
}

.sidebar {
    background-color: var(--tan);
    padding: 0 !important;
}

.sidebar h4 {
    padding: 1rem 0 0 1rem;
}

.sidebar li {
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-bottom: 1px solid var(--gold);
}

/* change background of whole row when link hovered */
.sidebar li:has(a:hover) {
    background-color: hsl(from var(--tan) h s 70%)
}

.sidebar li a {
    display: block;
    width: 100%;
    /* increased touch area */
}

.govt-list i {
    font-size: 1.1rem;
    color: var(--green);
}

.govt-list i:hover {
    font-size: 1.2rem;
    color: var(--black);
}

/* ------------------------------------------------------------------ DIRECTORY */
/* wrapper so table scrolls horizontally on small screens */
.table-wrapper {
    width: 100%;
    display: block;
    overflow: scroll;
    height: fit-content;
    position: relative;
}

table {
    position: relative;
    /* for sticky header? */
}

thead tr {
    --bs-table-bg: var(--green);
    --bs-table-color: var(--white);
}

table a {
    text-transform: lowercase;
}

/* ------------------------------------------------------------------ DSS */
.dss-link {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 1.2rem;
    width: 8rem;
    gap: 1rem;
}

.dss-link i {
    font-size: 2rem;
}