/* styles specific to pages besides index */

main img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: bottom;
    margin: 1rem 0 0.5rem 0;
    display: block;
}

figcaption {
    text-align: right;
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------------------------ COUNTY GOVT */
main a {
    text-decoration: none;
    color: var(--blue) !important;
}

main a:hover {
    text-decoration: underline;
}

.govt-list i {
    font-size: 1.1rem;
    color: var(--green);
}

.govt-list i:hover {
    font-size: 1.2rem;
    color: var(--black);
}

/* ----------------------------------------------- DIRECTORY */
/* wrapper so table stays full width on large screens and scrolls horizontally on small screens */
.table-wrapper {
    width: 100%;
    display: block;
    overflow: scroll;
}

table a {
    text-transform: lowercase;
}