/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
/* bootstrap icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color vars */
:root {
    --white: #F2F2F2;
    --black: #020202;
    --tan: #D9CEB0;
    --gold: #AE8F3F;
    --green: #01403A;
    --bluedark: #011C40;
    --blue: #1A1F73;
}

/* ------------------------------------------------------------------- HEADER & FOOTER */
.govt-banner {
    height: 30px;
    gap: 0.5rem;
}

.govt-banner img {
    max-width: 25px;
}

header {
    background-color: var(--white);
    color: var(--green);
    font-family: 'Libre Baskerville', Georgia, serif;
    /* border-bottom: 1px solid var(--gold); */
}

header img {
    width: 14vw;
    height: fit-content;
    margin: 0 1rem;
}

header h1 {
    font-size: 6vw;
    font-weight: 400;
}

header h1 a {
    text-decoration: none;
    color: var(--green);
}

header .subtitle {
    color: var(--gold);
    font-size: 1.1rem;
}

#skip-link {
    border: 1px solid var(--white);
    padding: 4px;
}

footer {
    background-color: var(--green);
    color: white;
    padding: 2%;
}

footer p {
    font-size: 0.9rem;
}

/* ----------------------------------------------------------------- NAV */
nav {
    border-bottom: 1px solid var(--gold);
}

.nav-link.active,
.dropdown-item.active,
.nav-item.active>* {
    font-weight: bold;
}

.dropdown-item.active {
    background: transparent !important;
    color: black !important;
}

/* ------------------------------------------------------------------------------ BODY */

/* body id to override bootstrap defaults */
#body {
    background-color: var(--white);
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', Georgia, serif;
}

main {
    color: var(--black);
}

main p {
    max-width: 65ch;
}

body a {
    color: inherit;
}

.home-section {
    margin: 8% 0;
}

/* quick links section */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.btn-grid a {
    color: var(--blue);
}

.btn-grid>* {
    align-content: center;
    padding: 10%;
}

/* full-width background color block */
#quick-links {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: var(--blue);
    color: var(--white);
}

.home-section .card {
    max-width: 30%;
}

/* hero image carousel */
.carousel {
    width: 100vw;
    left: calc(-50vw + 50%);
}

#hero-carousel img {
    max-height: 300px;
}

.carousel-caption {
    font-weight: normal;
    background-color: hsla(0, 0%, 1%, 0.4);
    width: fit-content;
    margin: auto;
    padding: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

/* ----------------------------------------------------------------------- MEDIA QUERIES */
@media screen and (min-width: 700px) {

    /* fixed size for site header */
    header h1 {
        font-size: 3rem;
    }

    header img {
        max-width: 100px;
    }
}

@media screen and (min-width: 980px) {

    #header {
        padding-left: 6% !important;
        padding-right: 6% !important;
    }

    /* don't show "navigation" label on full nav menu */
    .navbar-brand {
        display: none;
    }

    /* using ids with !important to override bootstrap defaults */
    #dropdown-btn {
        margin: 0 !important;
        padding: 0.5rem !important;
    }

    #quick-links {
        padding: 2% 16% !important;
    }

    .home-section .card {
        max-width: 25%;
    }

    /* hero img carousel */
    #hero-carousel img {
        max-height: 400px;
        width: 100vw;
        object-fit: cover;
        margin: auto;
    }

}